.icon {
    color: #ff5722;
}

.destination {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    display: flex;
}

.destination .content {
    padding: 19px;
    width: 326px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.destination .content .prefix {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.destination img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.destination .country {
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 17%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.destination a.google-maps {
    color: #918E9B;
    text-decoration: underline;
}

.destination .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.destination .date {
    font-weight: 700;
    padding-top: 12px;
}

.destination .description {

}

h1{
    text-align: center;
    margin-top: 50px;
}

hr {
    width: 216px;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    border-top: 2px solid #ff5722;
    height: 3px;
}

#destination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 40px;
}

#container-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

img .tiny-icon {
    size: 5px, 5px !important
}

.action-icon {
    justify-self: end;
    align-self: flex-end;

    cursor: pointer;
    opacity: 0;
}

.destination:hover .action-icon {
    opacity: 0.5;
}

.destination:hover .action-icon:hover {
    opacity: 1;
}

.pending {
    opacity: 0.5;
}

.destination.hidden {
    display: none;
}